body {
  font-family: Raleway;
  color: rgb(44, 79, 218);
  background: #ff5252;
  margin: 10px 30px;
}
#homepage {
  max-width: 1000px;
  margin: 60px auto;
  padding: 10px 20px;
  background: #fdfdfd;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.title {
  color: black;
  text-align: center;
  font-size: 68px;
}
#homepage h1 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  padding: 15px 0;
  background: #eee;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 4px;
}
span {
  display: inline-block;
  margin: 0 20px;
}
span.dist {
  color: green;
  float: right;
}
